
<div class="container">

    <mat-card class="card">
        <div class="example-container">
            <mat-form-field appearance="outline" class="formField">
            <mat-label>Enter your password</mat-label>
            <input #inpass matInput [type]="hide ? 'password' : 'text'" 
            [formControl]="password" > 
            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        
        </div>

        <div class="strengthBar">
            <div class="passwordStrength" *ngIf="strengthStatus === 1"> 
                <span class="weak1"></span>
                <span class="weak2"></span>
                <span class="weak3"></span>
                <span class="weak4">Too weak</span>
            </div>
        

            <div class="passwordStrength" *ngIf="strengthStatus===2">
                <span class="stronger1"></span>
                <span class="stronger2"></span>
                <span class="stronger3"></span>
                <span class="stronger4">Could be stronger</span>
            </div>
            

            <div class="passwordStrength" *ngIf="strengthStatus===3">
                <span class="strong1"></span>
                <span class="strong2"></span>
                <span class="strong3"></span>
                <span class="strong4">Strong password</span>
            </div>
        </div>
        
    </mat-card>   
</div>