

.card{
    padding: 100px;
    margin: 20px;
    width: 50%;
}

.formField {
    width: 500px;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    padding: 20px;
}



.weak1 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: red;
    margin-right: 2px
}

.weak2 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: silver;
    margin-right: 2px;
}

.weak3 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: silver;
    margin-right: 10px;
}

.stronger1 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: red;
    margin-right: 2px;}

.stronger2 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: orange;
    margin-right: 2px;
}

.stronger3 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: silver;
    margin-right: 10px;
}

.strong1 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: red;
    margin-right: 2px
}

.strong2 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: orange;
    margin-right: 2px;
}

.strong3 {
    display: inline-block;
    width: 130px;
    height: 7px;
    border-radius: 5px;
    background: green;
    margin-right: 10px;
}

@media(max-width:1000px) {


    .weak1 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px
    }
    
    .weak2 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 2px;
    }
    
    .weak3 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 10px;
    }
    
    .stronger1 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px;}
    
    .stronger2 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: orange;
        margin-right: 2px;
    }
    
    .stronger3 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 2px;
    }
    
    .strong1 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px
    }
    
    .strong2 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: orange;
        margin-right: 2px;
    }
    
    .strong3 {
        display: inline-block;
        width: 100px;
        height: 7px;
        border-radius: 5px;
        background: green;
        margin-right: 10px;
    }
    
    .formField{
        width: 450px;
    
    }
        
    }  


@media(max-width:800px) {


    .weak1 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px
    }
    
    .weak2 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 2px;
    }
    
    .weak3 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 10px;
    }
    
    .stronger1 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px;}
    
    .stronger2 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: orange;
        margin-right: 2px;
    }
    
    .stronger3 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: silver;
        margin-right: 2px;
    }
    
    .strong1 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: red;
        margin-right: 2px
    }
    
    .strong2 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: orange;
        margin-right: 2px;
    }
    
    .strong3 {
        display: inline-block;
        width: 70px;
        height: 7px;
        border-radius: 5px;
        background: green;
        margin-right: 10px;
    }
    
    .formField{
        width: 350px;
    
    }
        
    }  

    @media(max-width:600px) {


        .weak1 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: red;
            margin-right: 2px
        }
        
        .weak2 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: silver;
            margin-right: 2px;
        }
        
        .weak3 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: silver;
            margin-right: 10px;
        }
        
        .stronger1 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: red;
            margin-right: 2px;}
        
        .stronger2 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: orange;
            margin-right: 2px;
        }
        
        .stronger3 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: silver;
            margin-right: 2px;
        }
        
        .strong1 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: red;
            margin-right: 2px
        }
        
        .strong2 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: orange;
            margin-right: 2px;
        }
        
        .strong3 {
            display: inline-block;
            width: 40px;
            height: 7px;
            border-radius: 5px;
            background: green;
            margin-right: 10px;
        }
        
        .formField{
            width: 250px;  
            font-size: small; 
        }

        .passwordStrength {
            font-size: small;
            margin-top: 10px;
        }

       
            
        }  